h1{
    text-align: center;
    color:#c52e2e;
    font-size:82px;
    font-family:  'Segoe UI';
}

h2{
    font-family:sans-serif;
    text-align: center;
    color: #c52e2e;
    font-size: 40px;
}

h3{
    font-size: 15px;
    text-align: center;
    font-family: Verdana;
    color: #c52e2e;
}


p{ 
    font-family:sans-serif;
    text-align: justify;
    font-size: 25px;
}


.foto_com_mouse{
    width: 450px;
    height: 450px;
    transition:0.5s;
    border: 15px solid #c52e2e;
}

div{
    text-align: center;
}


.foto_sem_mouse{
    width:400px;
    height: 400px;
    transition: 0.5s;
}

#claro, #escuro {
    cursor: pointer;
}

.escuro{
    background-color: black;
    color: white;
    transition: 3s;
    cursor: pointer;
}

.acender{
    background-color: rgb(218, 211, 211);
    color: #000000;
    transition: 3s;
    cursor: pointer;
}